* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-size: 1.125rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

p,
a {
    font-family: 'PT Sans Narrow', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.color-purple {
    color: blueviolet;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    padding: 1em 5%;
    background-color: azure;
    position: fixed;
}

nav .navbar-logo {
    font-size: 2rem;
}

nav .navbar-logo span {
    width: 5rem;
    height: 5rem;
}

.navbar-items,
.navbar-social-section {
    display: none;
}

/*----Home Page-----*/
.home-page {
    height: 100vh;
    background-color: bisque;

}

.home-page-text {
    width: 90%;
    margin: 0 2em;
    padding-top: 10em;

}

.home-page-title h2 {
    font-size: 2.6rem;
}

.home-page-title p {
    font-size: 1.4rem;
}

.home-page-action {
    margin-top: 5em;
}

.home-page-venue p {
    font-size: 1.3rem;
    padding: 0.5em;
    text-transform: uppercase;
    border-left: 1px solid rgb(20, 19, 19);
    display: inline-block;
}

.home-page-action a {
    font-size: 1.2rem;
    color: black;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.9em 1.2em;
    margin-top: 0.2em;
    background-color: #fff;
}

/*----/Home Page-----*/


/*-----Speaker Section------*/
.speakers-section {
    width: 100%;
    background-color: rgb(205, 224, 231);
}

.section-heading {
    margin: 0 2em;
    padding: 1.5em 0;
}

.section-heading h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

.section-heading p {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: blueviolet;
    letter-spacing: 0.1rem;
}

.speaker {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.speaker .speaker-picture img {

    width: 65%;
    object-fit: contain;
}

.speaker .speaker-picture {
    order: 1;
    margin-bottom: 1.5em;
}

.speaker .speaker-profession {
    order: 2;
    margin: 0 2em;
    margin-bottom: 0.3em;
    text-transform: capitalize;
}

.speaker .speaker-bio {
    margin: 0 2em;
    order: 3;
}

.speaker-bio h2 {
    margin-bottom: 0.3em;
}

.speaker-bio h4 {
    margin-bottom: 1.5em;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.speaker-bio p {
    letter-spacing: 0.09rem;
}

/*-----/Speaker Section------*/