* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
}

a {

  text-decoration: none;
  color: #fff;
  background: rgb(60, 58, 58);
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
}